

body {
  background-color: #000000;
  cursor: pointer;
}

/* In order to make the images in the intructions section responsive I had to readjust the height to auto and max width to 100 percent
ref: https://www.browserstack.com/guide/how-to-make-images-responsive#:~:text=An%20image%20can%20be%20made,image%20will%20also%20change%20proportionally.
*/ 

#story {
  display: flex;
  height: auto;
  max-width: 100%;
  justify-content: center;
  justify-self: center;
  padding: 0.3em;
  background-color: #ffC099;
}


#storyline2 {
  size-adjust: 20em;
  display: flex;
  height: auto;
  max-width: 100%;
  justify-content: center;
  justify-self: center;
  padding: 0.3em;
 
}


#castle2 {

  display: flex;
  max-width: 8em;
  height: auto;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding: 0.3em;
  background-color: #ffC099;
  
}

/* The class responsive was needed to make it respsonsive on smaller screen sizes without the need for a media query , css and html was used 
ref= https://www.w3schools.com/howto/howto_css_image_responsive.asp */ 


p {
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Macondo-regular";
  justify-content: center;
  align-items: center;
  font-display: center;
  text-wrap: wrap;
}

#logo {
    display: flex;
    flex-wrap: wrap;
  background: url("images/final-logo.png");
  background-repeat: no-repeat;
  background-size: auto;
  justify-self: center;
  align-items: center;
 max-width: 100%;
 height: auto;
}


details {
  color: #ffffff;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Macondo-regular;
  font-size: x-large;
  size: auto;
}

summary {
  font-size: xx-large;
  display: grid;
  justify-content: center;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

/* The below css code is from MDN web docs and I changed the font size and added the "swords" emoji for the content value...
https://developer.mozilla.org/en-US/docs/Web/CSS/::marker
https://symbl.cc/en/search/?q=sword
instructions for this were taken from ...
https://www.shecodes.io/athena/39607-how-to-add-emojis-on-a-website-using-html-and-css
*/

details ::marker {
content: "⚔";
display: grid;
color: #ffffff;
font-size: 3rem;
size: auto;

}

/* This helped to correctly place text in the right place
https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/details  */ 

/* This website 
helped to size the castle button
https://www.geeksforgeeks.org/html/html-emojis/ */

#play-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

#castle {
  max-width: 100%;
 font-size: 7rem;
 background-color: #000000;
 flex-shrink: auto;
 justify-content: center;
}

#play-new {
  flex-shrink: auto;
  flex-wrap: wrap;
  font-size: 5rem;
  display: flex;
  color: #38B6FF;
  justify-content: center;
  font-family: "Macondo-regular";
  cursor: pointer;
}

/* Below is the css for the gamepage */

.text-box-1 {
  visibility: visible;
  color: #ffffff;
  box-shadow: #ffC099;
  font-family: "Macondo-regular";
  font-size: 2rem;
}

#text {
  flex-shrink: auto;
  flex-wrap: wrap;
  max-width: 100%;
}

/* This is for each div ID. To seperate the text and their contents/ to hide and show which options should be visible along with JS
taken and adapted from https://www.w3schools.com/css/css_display_visibility.asp */

.hidden {
  display: none;
}

/* hover over for lets play text taken and adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/:hover 
and also https://github.com/WebDevSimplified/JavaScript-Text-Adventure/blob/master/styles.css*/
/* The "active" pseudo class and "linear-gradient" was taken and adapted from https://fmennen.de/post/creating-stylish-buttons-with-html-css-and-java-script 
Below the border width was adpated from:
https://developer.mozilla.org/en-US/docs/Web/CSS/border-width */

details:hover {
  color: #ffffff;
}

summary:hover {
  color: #ff3131;
}

#play-new:hover {
  color: #ff3131;
}


#castle:hover {
  border-color: #ff3131;
  border-width: thick;
   background: linear-gradient(to right,  #000000, #ff3131, #000000);
   
}
#castle:active {
  transform: translate(5px);
}


#castle {
  transition: background-color 0.3s, box-shadow 0.3s;
}

#castle {
  display: flex;
  justify-content: center;
  justify-self: center;
  background: linear-gradient(to right, #000000, #38B6FF, #000000);
}



/* Buttons for navigation - the centering was taken from googles AI feature 
https://www.google.com/search?q=getting+a+button+to+be+on+the+center+of+page&oq=getting+a+button+to+be+on+the+center&gs_lcrp=EgZjaHJvbWUqBwgFECEYnwUyBggAEEUYOTIHCAEQIRigATIHCAIQIRigATIHCAMQIRifBTIHCAQQIRifBTIHCAUQIRifBTIHCAYQIRifBTIHCAcQIRiPAjIHCAgQIRiPAtIBCDg4MjBqMGo0qAIAsAIB&sourceid=chrome&ie=UTF-8 */

.style {
  display: flex;
  justify-content: center;
}

.button-1 {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #38B6FF;
 background: linear-gradient(to right, #000000, #38B6FF, #000000);
  text-align: center;
}

.button-1:hover {
  border-color: #ff3131;
 background: linear-gradient(to right, #000000, #ff3131, #000000);
   border-width: thick;
}
.button-2 {
  
 display: flex;
 justify-content: center;
 align-items: center;
 background: linear-gradient(to right, #000000, #38B6FF, #000000);
 text-align: center;

}

.button-2:hover {
  border-color: #ff3131;
   background: linear-gradient(to right,#000000, #ff3131, #000000);
   border-width: thick;
}

 /*/ Media queries /*/
  