body {
  background-color: #000000;
}

#logo {
    display: flex;
  background: url("../images/final-logo.png");
  background-repeat: no-repeat;
  background-size: auto;
  justify-self: center;
}


details {
  color: #ffffff;
  display: grid;
  justify-content: center;
  font-family: Macondo-regular;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
