@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}


/* code below taken  and adapted from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2 */
#quiz {
    max-width: 500rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  font-family: "Macondo", cursive;
  font-style: normal;
 
}

h1 {
  display: flex;
  justify-content: center;
  position: static;
  font-size: 2.8rem;
  font-family: 'Macondo', cursive;
  color:#ffffff;

}



#question {
  display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
  font-size: 2.8rem;
  font-family: 'Macondo', cursive;
  color:#ffffff;
  margin-bottom: 15rem;
}

#options {
    display: grid;
    column-gap: 5px;
    row-gap: 15px;
  position: absolute;
  grid-template-columns: repeat(1, 2fr);
  margin-top: 35rem;
  font-size: 2rem;
  
}
/* Styling for buttons/options adapted from https://www.w3schools.com/css/css3_buttons.asp /*/ 
#button {
  display: block;
  column-gap: 5em;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
font-family: 'Macondo'cursive;
  border-radius: 20px;
  font-size: large;
  color: #ffffff;

}

/* end of code taken from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2" */

#Newcastle {
  opacity: 2.5;
}

 p {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 50em;
}

#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 10rem;

}

#score {
    font-display: block;
    display: flex;
    font-size: 4rem;
    font-weight: bold;
   margin-block-start: 2em;
   
}

/*/ Restart button code below taken and adapted from https://uiverse.io/Spacious74/horrible-horse-4 /*/ 

.restart-btn {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Macondo', cursive;
    margin-right: 20px;
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: linear-gradient(#38B6FF, #000000);
  box-shadow: 2px 2px 3px 2px #000000b4;
  opacity: 0.7;
}

.container {
  position: relative;
  padding: 5px;
  background: linear-gradient(90deg, #38B6FF, #000000);
  border-radius: 0.9em;
  transition: all 0.4s ease;
  color: #000000;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.container:hover::before {
  background: linear-gradient(90deg, #38B6FF, #000000);
  filter: blur(1.2em);
}
.container:active::before {
    background: linear-gradient(90deg, #000000, #38B6FF);
  filter: blur(0.5em);
}

/* Body and main contet styling below  /*/ 

body {
    display: flex;
 justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: auto;
    background: linear-gradient(to right, black, #38B6FF, black);
}


#knight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 40rem;
    z-index: -8;
    max-inline-size: 100%;
    margin-top: 200px;
}


 /*/ Styling for jquery panel and divs */


#panel, #flip {
  padding: 5px;
  display: flex;
  font-display: block;
  text-align: center;
  font-size: xx-large;
  font-family: 'Macondo', cursive;
  border: solid 1px #2b1754;
  border-radius: 30px;
   padding: 20px;

     background: linear-gradient(90deg, #38B6FF, #000000);
  border-radius: 0.9em;
  transition: all 0.4s ease;
 color: #ffffff;

}

#panel {
  padding: 50px;
  display: flex;
  justify-content: left;
  position: absolute;
  
  margin-top: 5em;

   padding: 20px;
  width: 200px;
  height: 100vh;
  z-index: 1;
  float:inline-start;
   
}





/* linear gradient background info taken and adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
/* https://css-tricks.com/a-complete-guide-to-css-media-queries/ */
/*Media Queries/*/

@media  screen and (min-width: 300px) {
  #quiz {
    font-size: 5rem;
  }
  #question {
    font-size: 3rem;
  }
  p    { 
    font-size: 2rem;
  }
  #options {
    font-size: 1.5rem;

  }

  #panel  {
      font-size: 1rem;
  }

   #flip {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    
  }
}

@media screen and (min-width: 600px) {
  #quiz {
    font-size: 10rem;
  }
  #question {
    font-size: 4rem;
  }
  p    { 
    font-size: 3rem;
  }
  #options {
    font-size: 2rem;

  }
#panel {
  font-size: 2rem;
}
 #flip {
    font-size: 3rem;
    display: flex;
    justify-content: center;
   
  }
  
}   
@media screen and (min-width: 900px) {
  #quiz {
    font-size: 20rem;
  }
  #question {
    font-size: 5rem;
  }
  #options {
    font-size: 3rem;

  }
  #panel {
  font-size: 2.8rem;
}
 #flip {
    font-size: 4rem;
    display: flex;
    justify-content: center;
  
  }

} 
@media screen and (min-width: 1200px) {
  #quiz {
    font-size: 30rem;
  }
  #question {
    font-size: 6rem;
  }
  #options {
    font-size: 4rem;

  }
  #panel {
  font-size: 3.5rem;
}

  #flip {
    font-size: 3rem;
    display: flex;
    justify-content: center;
   
  }
}   
@media screen and (min-width: 1500px) {
  #quiz {
    font-size: 40rem;
  }
  #question {
    font-size: 7rem;
  }
  #options {
    font-size: 5rem;

  }
  #panel {
  font-size: 3rem;
}
 #flip {
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }

}