



.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
/* code below taken  and adapted from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2 */
#quiz {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba (#e10606, #000000, #e10606);
  border-radius: 5px;
  
}

h1 {
  text-align: top;
  font-family: 'Macondo', cursive;
  color:#ffffff;
   margin-top: -20px;
    margin-bottom: 20px;
}

#question {
  margin-bottom: 20px;
}

#options {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

#button {
  display: flex;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(, 238, 10), 245, 161);
  color: #131313;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* end of code taken from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2" */
p {
    font-family: 'Macondo';
    font-size: 2.5rem;
    color: white;
    text-align: center;
    max-width: 600px;
    margin-top: -20px;
    margin-bottom: 20px;
  
}

body {
     
     padding: 0;
    display: flex;
 justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto;
    background: linear-gradient(to right, black, #38B6FF, black);
}



#button:hover {
    border-color: black;
    color: #ff3131;
}

#knight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    z-index: -8;
    max-inline-size: 100%;
    margin-top: 200px;
}

#logo {
    display: flex;
    justify-content: top;
    align-items: top;
    align-self: center;
    height: auto;
    max-width: 100%;
   margin-left: 30px;
}

/* linear gradient background info taken and adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */

/*Media Queries/*
