@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}


/* code below taken  and adapted from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2 */
#quiz {
    max-width: 500rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  font-family: "Macondo", cursive;
  font-style: normal;
 
}

h1 {
  display: flex;
  justify-content: center;
  position: static;
  font-size: 2.8rem;
  font-family: 'Macondo', cursive;
  color:#ffffff;

}



#question {
  display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
  font-size: 2.8rem;
  font-family: 'Macondo', cursive;
  color:#ffffff;
  margin-bottom: 15rem;
}

#options {
    display: grid;
    column-gap: 5px;
    row-gap: 15px;
  position: absolute;
  grid-template-columns: repeat(1, 2fr);
  margin-top: 35rem;
  font-size: 2rem;
  
}

#Newcastle {
  opacity: 2.5;
}

 p {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 50em;
}

#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 10rem;

}

#score {
    font-display: block;
    display: flex;
    font-size: 4rem;
    font-weight: bold;
   margin-block-start: 2em;
   
}

/*/ Restart button code below taken and adapted from https://uiverse.io/Spacious74/horrible-horse-4 /*/ 

.restart-btn {
  position: absolute;
  display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
    font-family: 'Macondo', cursive;
    margin-left: 900px;
  font-size: 2em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  border: 3.5em;
 
}

.restart-btn:hover {
  display: flex;
  background-color:  #ff0000;
  background: linear-gradient(90deg, #000000, #38B6FF);
}

.container {
  position: relative;
  isolation: isolate;
  display: flex;
  padding: 5px;
  background: linear-gradient(90deg, #38B6FF, #000000);
  border-radius: 0.9em;
  transition: all 0.4s ease;
  color: #000000;
  z-index: 0;
}

.container::before {
  content: "";
  position: relative;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.container:hover::before {
  background: linear-gradient(90deg, #38B6FF, #000000);
  filter: blur(1.2em);
}
.container:active::before {
    background: linear-gradient(90deg, #000000, #38B6FF);
  filter: blur(0.5em);
}

/* Body and main contet styling below  /*/ 

body {
    display: flex;
 justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    background: linear-gradient(to right, black, #38B6FF, black);
    margin: 0;
    padding: 0;
}


#knight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 40rem;
    z-index: -8;
    max-inline-size: 100%;
    margin-top: 200px;
    padding: 0;
    
}


 /*/ Styling for jquery panel and divs */





#instructions {
  display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 3rem;
    color: #ffffff;

}

#instructions:hover {
  display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-size: 3rem;
    background: linear-gradient(90deg, #38B6FF, #000000);

}


/* linear gradient background info taken and adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
/* https://css-tricks.com/a-complete-guide-to-css-media-queries/ */
/*Media Queries/*/

@media  screen and (min-width: 300px) {
  #quiz {
    font-size: 5rem;
  }
  #question {
    font-size: 3rem;
  }
  p    { 
    font-size: 2rem;
  }
  #options {
    font-size: 1.5rem;

  }

  #panel  {
      font-size: 2.5rem;
      position:relative;
  }

   #flip {
    font-size: 2.5rem;
    display: flex;
      position:relative;
    justify-content: center;
    
  }
}

@media screen and (min-width: 600px) {
  #quiz {
    font-size: 10rem;
  }
  #question {
    font-size: 4rem;
  }
  p    { 
    font-size: 3rem;
  }
  #options {
    font-size: 2rem;

  }
#panel {
  font-size: 3rem;
    position:relative;
}
 #flip {
    font-size: 3rem;
    display: flex;
      position:relative;
    justify-content: center;
   
  }
  
}   
@media screen and (min-width: 900px) {
  #quiz {
    font-size: 20rem;
  }
  #question {
    font-size: 5rem;
  }
  #options {
    font-size: 3rem;

  }
  #panel {
  font-size: 4rem;
    position:relative;
}
 #flip {
    font-size: 4rem;
    display: flex;
      position:relative;
    justify-content: center;
  
  }

} 
@media screen and (min-width: 1200px) {
  #quiz {
    font-size: 30rem;
  }
  #question {
    font-size: 6rem;
  }
  #options {
    font-size: 4rem;

  }
  #panel {
  font-size: 4.5rem;
    position:relative;
}

  #flip {
    font-size: 4.5rem;
    display: flex;
      position:relative;
    justify-content: center;
   
  }
}   
@media screen and (min-width: 1500px) {
  #quiz {
    font-size: 40rem;
  }
  #question {
    font-size: 7rem;
  }
  #options {
    font-size: 5rem;

  }
  #panel {
  font-size: 5rem;
    position:relative;
}
 #flip {
    font-size: 5rem;
    display: flex;
      position:relative;
    justify-content: center;
  }

}