@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
/* code below taken  and adapted from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2 */
#quiz {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 500px;
 
  font-family: 'Macondo';
  font-size: 2.5rem;
   color: linear-gradient(to right, black, #ff3131, black);
}
/* Title styling for h1 adapted from https://www.shecodes.io/athena/462387-how-to-move-the-title-closer-to-the-top-of-a-page-using-css#:~:text=To%20move%20your%20title%20closer,adjust%20the%20top%20property%20accordingly.&text=Make%20sure%20to%20replace%20.,title%20element%20in%20your%20HTML.  /*/
h1 {
  position: absolute;
   display: flex;
    justify-content: center;
    align-items: center;
  top: -15px;
  display: flex;
  font-family: 'Macondo', cursive;
  font-size: 2.8rem;
  
}
h2 {
   display: start;
    justify-content: start;
    align-items: start;
 
  display: flex;
  font-family: 'Macondo', cursive;
  font-size: 1.8rem;
  color: #ffffff;
  margin-top:-250px;
}

h3 {
   display: start;
    justify-content: start;
    align-items: start;
  display: flex;
  font-family: 'Macondo', cursive;
  font-size: 1.5rem;
  color: #ffffff;
  margin-top:-200px;
}

#question {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 50px;
   font-family: 'Macondo', cursive;
  color:#ffffff;
  margin-bottom: 120px;

}

#options {
  display: grid;

    column-gap: 5em;
  row-gap: 5em;
  font-family: 'Macondo', cursive;
  position: fixed;
  grid-template-columns: repeat(1, 2fr);
   grid-auto-rows: minmax(100px, auto);
  opacity: 0.5;
  margin-top: 250px;
  
}
/* Styling for buttons/options adapted from https://www.w3schools.com/css/css3_buttons.asp /*/ 
#button {
  display: grid;
  column-gap: 5em;
  row-gap: 5em;

  justify-content: center;
  position: absolute;
  margin: 0 auto;
  padding: 50px auto;
font-family: 'Macondo'cursive;
  border-radius: 20px;
  font-size: large;
  color: #ffffff;

}

/* end of code taken from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2" */

 p {
  display: flex-start;
  justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Macondo', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: -30vh;
    
}


#score-container {
    display: flex-end;
    justify-content: center;
    place-items: center;
    border-radius: 15px;
    padding: 20px;
    margin-top: 3vh;
}

#pscore {
  display: flex-end;
  justify-content: flex-end;
    align-items: center;
    color: #000000;
    margin-top: 30vh;
    
}

#instructions {
  display: flex;
  justify-content: start;
    align-items: start;
    font-family: 'Macondo', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 20vh;
}

body {
     padding: 0;
    display: flex;
 justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto;
    background: linear-gradient(to right, black, #38B6FF, black);
}


#knight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    z-index: -8;
    max-inline-size: 100%;
    margin-top: 200px;
}


/* linear gradient background info taken and adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
/* https://css-tricks.com/a-complete-guide-to-css-media-queries/ */
/*Media Queries/*/
@media screen and (min-width: 600px) {
  #quiz {
    font-size: 3rem;
  }
  #question {
    font-size: 4rem;
  }
}   
@media screen and (min-width: 900px) {
  #quiz {
    font-size: 4rem;
  }
  #question {
    font-size: 5rem;
  }
} 
@media screen and (min-width: 1200px) {
  #quiz {
    font-size: 5rem;
  }
  #question {
    font-size: 6rem;
  }
}   
