@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
/* code below taken  and adapted from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2 */
#quiz {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Macondo';
  font-size: 2.5rem;
  color:#ffffff;
}
/* Title styling for h1 adapted from https://www.shecodes.io/athena/462387-how-to-move-the-title-closer-to-the-top-of-a-page-using-css#:~:text=To%20move%20your%20title%20closer,adjust%20the%20top%20property%20accordingly.&text=Make%20sure%20to%20replace%20.,title%20element%20in%20your%20HTML.  /*/
h1 {
  position: absolute;
  top: -15px;
  display: flex;
  font-family: 'Macondo', cursive;
  font-size: 2.8rem;
  color: linear-gradient(to right, black, #38B6FF, black);
}

#question {
  display: grid;
  margin-bottom: 20px;
  font-size: 3.1rem;
   font-family: 'Macondo', cursive;
  color:#ffffff;
  
}

#options {
  display: grid;

   font-family: 'Macondo';
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

#button {
  display: grid;
  margin: 0 auto;
  padding: 20px 30px;
font-family: 'Macondo'cursive;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Macondo';
}

/* end of code taken from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2" */
p {
    font-family: 'Macondo';
    font-size: 2.5rem;
    color: white;
    text-align: center;
    max-width: 600px;
    margin-top: -20px;
    margin-bottom: 20px;
  
}

body {
     padding: 0;
    display: flex;
 justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto;
    background: linear-gradient(to right, black, #38B6FF, black);
}



#button:hover {
    border-color: black;
    color: #ff3131;
}


#options:hover {
    border-color: black;
    color: #ff3131;
}
#knight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    z-index: -8;
    max-inline-size: 100%;
    margin-top: 200px;
}

#logo {
    display: flex;
    justify-content: top;
    align-items: top;
    align-self: center;
    height: auto;
    max-width: 100%;
   margin-left: 30px;
}

/* linear gradient background info taken and adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */

/*Media Queries/*
