@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}


/* code below taken  and adapted from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2 */
#quiz {
    max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  font-family: "Macondo", cursive;
  font-style: normal;
 
}
/* Title styling for h1 adapted from https://www.shecodes.io/athena/462387-how-to-move-the-title-closer-to-the-top-of-a-page-using-css#:~:text=To%20move%20your%20title%20closer,adjust%20the%20top%20property%20accordingly.&text=Make%20sure%20to%20replace%20.,title%20element%20in%20your%20HTML.  /*/
h1,h2 {
  position: absolute;
   display: flex;
    justify-content: center;
    align-items: center;
      text-align: center;
  color: #000000;
  font-style: bold;
  top: -15em;
  display: flex;
  font-family: 'Macondo', cursive;
  font-size: 2.8rem;
}


#question {
  font-family: 'Macondo', cursive;
  color:#ffffff;
  margin-bottom: 10rem;
}

#options {
    display: grid;
    column-gap: 5px;
  position: fixed;
  grid-template-columns: repeat(1, 2fr);
  margin-top: 25rem;
  
}
/* Styling for buttons/options adapted from https://www.w3schools.com/css/css3_buttons.asp /*/ 
#button {
  display: block;
  column-gap: 5em;
   display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
font-family: 'Macondo'cursive;
  border-radius: 20px;
  font-size: large;
  color: #ffffff;

}

#button:hover {
  background-color: #45a049;
}

/* end of code taken from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2" */

 p {
  display: center;
    justify-content: center;
    align-items: center;
    font-family: 'Macondo', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: -20vh;
}


#score-container {
    display: flex-end;
    justify-content: center;
    place-items: center;
    border-radius: 15px;
    padding: 20px;
    margin-top: 3vh;
}

#pscore {
  display: flex-end;
  justify-content: flex-end;
    align-items: center;
    color: #000000;
    margin-top: 30vh;
    
}

body {
     padding: 0;
    display: flex;
 justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto;
    background: linear-gradient(to right, black, #38B6FF, black);
}


#knight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    z-index: -8;
    max-inline-size: 100%;
    margin-top: 200px;
}


/* linear gradient background info taken and adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
/* https://css-tricks.com/a-complete-guide-to-css-media-queries/ */
/*Media Queries/*/
@media screen and (min-width: 600px) {
  #quiz {
    font-size: 3rem;
  }
  #question {
    font-size: 4rem;
  }
}   
@media screen and (min-width: 900px) {
  #quiz {
    font-size: 4rem;
  }
  #question {
    font-size: 5rem;
  }
} 
@media screen and (min-width: 1200px) {
  #quiz {
    font-size: 5rem;
  }
  #question {
    font-size: 6rem;
  }
}   
