@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
/* code below taken  and adapted from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2 */
#quiz {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 500px;
 
  font-family: 'Macondo';
  font-size: 2.5rem;
   color: linear-gradient(to right, black, #ff3131, black);
}
/* Title styling for h1 adapted from https://www.shecodes.io/athena/462387-how-to-move-the-title-closer-to-the-top-of-a-page-using-css#:~:text=To%20move%20your%20title%20closer,adjust%20the%20top%20property%20accordingly.&text=Make%20sure%20to%20replace%20.,title%20element%20in%20your%20HTML.  /*/
h1 {
  position: absolute;
   display: flex;
    justify-content: center;
    align-items: center;
  top: -15px;
  display: flex;
  font-family: 'Macondo', cursive;
  font-size: 2.8rem;
  color: linear-gradient(to right, black, #38B6FF, black);
}

#done {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
   font-family: 'Macondo', cursive;
  color:#ffffff;
  
}

#question {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 3rem;
   font-family: 'Macondo', cursive;
  color:#ffffff;
  color: linear-gradient(to right, black, #ff3131, black);
}

#options {
  display: grid;
    column-gap: 10px;
  row-gap: 4em;
  font-family: 'Macondo', cursive;
  position: fixed;
   font-family: 'Macondo';
  grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: minmax(100px, auto);

}

#button {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 50px auto;
font-family: 'Macondo'cursive;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Macondo';
  font-size: large;
}

/* end of code taken from "https://medium.com/@codepicker57/building-an-interactive-quiz-with-html-css-and-javascript-efe9bd8129e2" */
p {
  position: absolute;
    display: flex-end;
    justify-content: center;
    align-items: center;
    font-family: 'Macondo';
    color: #132154;
    font-size: 5rem;
    max-width: 600px;
    margin-top: -100px;
   z-index: 10;

  
}

#score-container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: auto;
    width: auto;

    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
}

body {
     padding: 0;
    display: flex;
 justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto;
    background: linear-gradient(to right, black, #38B6FF, black);
}



#button:hover {
    border-color: black;
    color: #ff3131;
}

#knight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    z-index: -8;
    max-inline-size: 100%;
    margin-top: 200px;
}


/* linear gradient background info taken and adapted from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */

/*Media Queries/*
