*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Macondo', cursive;
}   

:root {
    --neutral: #000000;
    --wrong: #ff3131;
    --correct: #00ff00;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
    
     margin: 0;
     padding: 0;
    display: flex;
 justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #000000;
}

body.correct {
    --var-correct: #00ff00;
 
}

body.wrong {
    --var-wrong: #ff3131;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    background-color: linera-gradient(to right, #000000, #38B6FF, #000000);
    border-radius: 5px;
   padding: 10px;
box-shadow: 0 0 10px 2px;
    text-align: center;
    align-items: center;
    margin-top: auto;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: linear-gradient(to right, #000000, #38B6FF, #000000);
    gap: 10px;
    margin: 20px 0;

}

.btn {
     --var--neutral: #000000;
    background: linear-gradient(to right, #000000, #38B6FF, #000000);
    border: 8px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
    background: linear-gradient(to right, #000000, #ff3131, #000000);
}

.btn.correct {

    background: linear-gradient(to right, #000000, #00ff00, #000000);
}

.btn.wrong {
     background: linear-gradient(to right, #000000, #38B6FF, #000000);
    
}

.start-btn, .next-btn {
    font-family: 'Macondo', cursive;
 font-size: 1.5rem;
 font-weight: bold;
 padding: 10px 20px;
    
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.hide {
    display: none;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: auto;
    max-width: min-content;
    margin-bottom: 20px;
    margin-top: -50px;

}